.table-body
  .breadcrumb
    %ul
      %li= link_to "Product Categories | ", root_path
      %li= @category.name
  %table
    %thead
      %tr
        %th.th-name Name
        %th.th-srp SRP
        %th.th-price Price
        -#%th Description
        %th{:colspan => "3"}
    %tbody
      - @category.items.each do |item|
        %tr
          %td= link_to item.name, item
          %td= item.srp
          %td= item.price

