!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Pricewatch
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .header
      %h1= link_to "PRICE WATCH", root_path
      %h2 Department of Trade & Industry
    .search-panel
      .search
        = form_tag(items_path, method: 'get', id: "search-form") do
          = text_field_tag :search, params[:search], placeholder: "Search Items", class: "search-field"
          = submit_tag "Search", class: "search-button"
    = yield
